@model IEnumerable<Trainer>

@{
    ViewBag.Title = "Trainer List";
}
<style>
    .home-background {
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        position: relative;
        background-image: url('gym.jpg');
        z-index: 1;
        padding: 20px;
        color: white;
    }

    .home-background::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
        z-index: -1;
    }
</style>

<div class="container-fluid pt-3">
    <h3 class="mb-4">Trainer List</h3>

    <div class="mb-3">
        <a asp-action="Create" class="btn btn-primary">Create</a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Trainer Id</th>
                    <th>Name</th>
                    <th>Specialty</th>
                    <th>Phone Number</th>
                    @* <th>Actions</th> *@
                </tr>
            </thead>
            <tbody>
                @foreach (var trainer in Model)
                {
                        <tr>
                            <td>@trainer.TrainerId</td>
                            <td>@trainer.Name</td>
                            <td>@trainer.Specialty</td>
                            <td>@trainer.PhoneNumber</td>
                            @* <td>
                                <div class="d-flex flex-column flex-md-row gap-2">
                                    <a asp-action="Edit" asp-route-id="@trainer.TrainerId" class="btn btn-warning btn-sm">Edit</a>
                                    <a asp-action="Delete" asp-route-id="@trainer.TrainerId" class="btn btn-danger btn-sm">Delete</a>
                                </div>
                            </td> *@
                        </tr>
                }
            </tbody>
        </table>
    </div>
</div>
